[Unit]
{% if item.app.description %}
Description={{ item.app.description }}
{% endif %}
{% if item.unit.requires %}
Requires={{ item.unit.requires }}
{% endif %}
{% if item.unit.after %}
After={{ item.unit.after }}
{% endif %}

[Service]
{% if item.service.user %}
User={{ item.service.user }}
{% endif %}
{% if item.service.group %}
Group={{ item.service.group }}
{% endif %}
{% if item.service.timeout_start_sec %}
TimeoutStartSec={{ item.service.timeout_start_sec }}
{% endif %}
{% if item.service.restart %}
Restart={{ item.service.restart }}
{% endif %}
{% if item.service.pre_start %}
ExecStartPre={{ item.service.pre_start }}
{% endif %}
{% if item.service.start %}
ExecStart={{ item.service.start }}
{% endif %}
{% if item.service.reload %}
ExecReload={{ item.service.reload }}
{% endif %}
{% if item.service.timeout_sec %}
TimeoutSec={{ item.service.timeout_sec }}
{% endif %}
{% if item.service.oom_score_adjust %}
OOMScoreAdjust={{ item.service.oom_score_adjust }}
{% endif %}

[Install]
{% if item.install.wanted_by %}
WantedBy={{ item.install.wanted_by }}
{% endif %}
